openapi-spec-validator==0.2.9
pyyaml==5.4.1
jinja2==2.11.3
loguru==0.5.3
dataclasses==0.7 ; python_version < '3.7'
yarl==1.6.3
pydantic==1.8.1
aiohttp==3.7.4

# typings
typing-extensions==3.7.4.1 ; python_version < '3.8'
typing_inspect==0.6.0

# itertools
more_itertools==8.7.0
